.container-flex{
    display: flex;
    flex-direction: row;
}

.btn-1{
    flex: 1;
    background-color: teal;
}

.btn-2{
    flex: 1;
    background-color: tomato;
}

.btn-3{
    flex: 1;
    background-color: violet;
}