.box{
    display: flex;
    flex-direction: row;
    }

.box-1{
    height: 100vh;
    padding: 60px;
    background-color: wheat;

}

.box-1 div{
    margin-bottom: 50px;
}

.box-2{
    margin-top: 25px;
    margin-left: 40px;
}