body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.header{
    margin: 0px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
img{
    height: 50px;
    width: 150px;
}
.register{
    display: flex;  
}
li{
    list-style: none;
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
.masuk{
    color: black;
}
.daftar{
    color: red;
}
.container-login{
    width: 350px;
    height: 550px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: -1px 0px 15px -3px rgba(145,140,145,1);
    -moz-box-shadow: -1px 0px 15px -3px rgba(145,140,145,1);
    box-shadow: -1px 0px 15px -3px rgba(145,140,145,1);
}
h1{
    padding-top: 10px;
    text-align: center;
    font-weight: 100;   
}
label,input{
    height: 22px;
    width: 300px;
    margin-left: 16px;
    font-size: 16px;
    margin-bottom: 20px;
}
input{
    border-radius: 3px;
    border: 2px solid lightgray;
    padding: 7px;
}
.btn{
    display: block;
    margin: auto;
    border: none;
    width: 30%;
    color: white;
    background: orange;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}
.btn:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
    cursor: pointer;
}

p{
    text-align: center;
}
p a{
    color: blue;
}